<form [formGroup]="form">
  <fieldset>
    <div>
      <label for="name"> Agency name <span *ngIf="hasError('name')">⭕</span></label>
      <input name="name"
             type="text"
             formControlName="name"
             [attr.aria-invalid]="hasError('name')">
      <small *ngIf="mustShowMessage('name')">{{ getErrorMessage('name') }}</small>
    </div>
    <div>
      <label for="range"> Operation range <span *ngIf="hasError('range')">⭕</span></label>
      <select name="range"
              formControlName="range"
              (change)="onChange('range',$event)">
        <option selected
                value="">Select a range</option>
        <option *ngFor="let range of ranges"
                [value]="range.id">{{ range.name }}</option>
      </select>
      <small *ngIf="mustShowMessage('range')">{{ getErrorMessage('range') }}</small>
    </div>
    <div>
      <label for="status"> Operation status <span *ngIf="hasError('status')">⭕</span></label>
      <ng-container *ngFor="let status of statuses">
        <label for="status-{{status}}">
          <input name="status"
                 type="radio"
                 id="status-{{status}}"
                 formControlName="status"
                 [value]="status">
          {{ status }}
        </label>
      </ng-container>
    </div>
  </fieldset>
  <div>
    <button type="submit"
            (click)="onSubmitClick()"
            [disabled]="form.invalid"> Send new agency data </button>
  </div>
</form>
