<body>
  <header>
    <h1>{{ title }}</h1>
  </header>
  <main>
    <h3>We work with {{ agencies.length }} agencies</h3>
    <ul>
      <li *ngFor="let agency of agencies">
        <span [ngClass]="agency.status">{{ agency.name }}</span>
        <span *ngIf="agency.range==='Interplanetary'"> 💫 </span>
        <span *ngIf="agency.range==='Orbital'"> 🌎 </span>
      </li>
    </ul>
    <!-- <router-outlet></router-outlet> -->
  </main>
  <footer>
    <p>{{ subtitle | uppercase }}</p>
  </footer>
</body>
